.container-fluid {
  @include media-breakpoint-down(md){
    height:100%;
    .tab-content {
      height:100%;
    }
  }
}

.modal .modal-dialog.bottom {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 95%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  .modal-dialog.bottom .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal-dialog.bottom .modal-body {
    padding: 0px 15px 30px 15px;
  }

  /*bottom*/
  .modal.fade .modal-dialog.bottom {
    bottom: -400px;
    -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -moz-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -o-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    transition: opacity 0.15s linear, bottom 0.15s ease-out;
  }

  .modal.fade.show .modal-dialog.bottom {
    bottom: 0;
  }

  @media (min-width: 576px){
    .modal-dialog.bottom {
      max-width: 100%;
  }
}

.modal .modal-dialog.bottom-small {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 50%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-dialog.bottom-small .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-dialog.bottom-small .modal-body {
  padding: 0px 15px 30px 15px;
}

/*bottom-small*/
.modal.fade .modal-dialog.bottom-small {
  bottom: -400px;
  -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  -moz-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  -o-transition: opacity 0.15s linear, bottom 0.15s ease-out;
  transition: opacity 0.15s linear, bottom 0.15s ease-out;
}

.modal.fade.show .modal-dialog.bottom-small {
  bottom: 0;
}

@media (min-width: 576px){
  .modal-dialog.bottom-small {
    max-width: 100%;
}
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: $netis-primary ;
  border-color: $netis-primary ;
  border: 1px solid $netis-primary ;
  color: #fff;
}
.pagination > li > a{
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: $netis-primary ;
  border-color: $netis-primary;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: $netis-primary
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.pagination-hub {
  .page-link{
    color:$netis-primary;
    border: none;
    padding: 15px 20px;
    @include media-breakpoint-down(sm){
      padding: 12px 12px;
    }
  }
  .page-item.active .page-link {
    background-color: $netis-primary;
    border-color: $netis-primary;
  }
  .page-item.disabled .page-link {
    color: #fff;
  }
}

.nav-tabs li {
  margin: 0;
}
.nav-link {
  border-radius: 12px;
  font-weight: 400;
  padding: 0.6rem;
  font-size: 11pt;
  text-decoration: none;
  color: $netis-secondary !important;
  border: none;
  margin-bottom: 5px;

  .img-avatar {
    width: 35px;
  }

  .nav-icon {
    color: $netis-secondary;
  }

    .label {
      font-size: 10pt;
      font-weight: 400;
    }

    &.active {
      .nav-icon {
        color: $netis-primary !important;
      }
      color: $netis-primary !important;

      &:focus {
        color: $netis-primary !important;
      }
    }

    &:hover {
      color: $netis-primary !important;
    }
}

.no-hover{
  font-size: 11pt;

  &:hover {
    border: none !important;
    color: #305574 !important;
    border-bottom: none;
    border-color: #fff !important;
  }
}

.company-preview {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.507);

    @include media-breakpoint-down(sm){
      width: 100%;
      height: 200px;
    }
  }

  @include media-breakpoint-down(md){
    .icon {
      text-align: center;
    }
    .list {
      text-align: center;
    }
  }
}

.badge-icon {
  display: inline-block;
  border-radius: 100%;
  background-color: rgba(224, 229, 234, 0.31);

  &.website{
    background-color: #4595D8;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.email{
    background-color: #FFA833;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.phone{
    background-color: #01C875;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
  }

  &.location{
    background-color: #E2445C;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
  }
}

.job-icon {
  background-color: #dbe2f5;
  color: $netis-primary;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 100px;
  height: 100px;
  padding: 23px 0px;
}

.plus-icon {
  background-color:$netis-primary;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 55px;
  height: 55px;
  padding-right: 2px;
  padding-bottom: 4px;
  // padding: 1px 8px 5px 2px;
  font-size: 2.5em;
  box-shadow: 2px 2px 6px $netis-primary;
  cursor: pointer;
}

.company-desc {
  display: flex;

  @include media-breakpoint-down(sm){
    display: none;
  }
}

.btn-job-applicant-status {
  width: 110px;
  font-size: 9pt;
}

.ribbons::before {
  position: absolute;
  top: 1.2rem;
  right: -0.5rem;
  content: "";
  background: $netis-primary;
  height: 25px;
  width: 30px;
  transform: rotate(45deg);
  z-index: 1;
}

.ribbons::after {
  position: absolute;
  content: attr(data-label);
  top: 9px;
  right: -14px;
  padding: 0.1rem;
  width: 5rem;
  background: $netis-primary;
  color: white;
  text-align: center;
  font-size: 10pt;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 31%);
  z-index: 2;
}

.card .card-container {
  width: 100%;
  min-height: 100px;
  background: white;
  z-index: 1;
}

.floating-button {
  a {
    text-decoration: none !important;
  }
  z-index: 999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
  img {
    width: 50%;
    cursor: pointer;
  }

  .floating-button-caption {
    display: none;
  }

  .floating-button-icon-on {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;
  }
  .floating-button-icon-off {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }

  .floating-button-box-off {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }
  .floating-button-box-on {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
    text-align: left;
    overflow: hidden;
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;

    .floating-button-box-header {
      position: relative;
      flex-shrink: 0;
      height: 70px;
      line-height: 70px;
      padding: 0 26px;
      margin: 0;
      background: $netis-primary;
      text-align: left;

      .floating-button-box-header-title {
        margin-top: 15px;
        font-size: 24px;
        color: #ffffff !important;
      }

      .floating-button-box-header-close {
        position: absolute;
        top: 50%;
        right: 24px;
        width: 34px;
        height: 34px;
        margin-top: -16px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M24 2.4L21.6 0 12 9.6 2.4 0 0 2.4 9.6 12 0 21.6 2.4 24l9.6-9.6 9.6 9.6 2.4-2.4-9.6-9.6L24 2.4z'/%3E%3C/svg%3E") 50% no-repeat;
        background-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
    .floating-button-box-content {
      padding: 20px 0 30px;
      padding-bottom: calc(20px);
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      will-change: scroll-position;

      .floating-button-box-content-message {
        display: inline-block;
        position: relative;
        // min-height: 60px;
        min-width: 100px;
        width: auto;
        padding: 0.5rem 20px;
        margin: 0 26px 1rem;
        border-radius: 32px;
        background: #0091aa;
        color: #ffffff;
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
        transform: translateZ(0);
      }

      .floating-button-box-content-message-client {
        text-align: left;
        position: relative;
        min-height: 50px;
        // width: 100%;
        display: block;
        margin: auto;
        padding: 17px 20px;
        border-radius: 32px;
        background: #ffffff;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }

      .floating-button-box-content-message-client::placeholder {
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }
    }
  }
  @include media-breakpoint-up(sm) {
    // transform: translateY(15px);
    transition: transform 100ms ease-in-out;
    .floating-button-caption {
      display: inline;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
    &:hover {
      transform: translateY(0);
      .floating-button-caption {
        opacity: 1;
      }
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .text {
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
  }
}

// scale on hover animation
.scale-div {
  transition: transform 200ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        cursor: pointer;
      }
}

.scale-div-small {
  transition: transform 50ms ease-in-out;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
}

.scale-click {
  -webkit-animation: scaleGrow 0.4s linear;
  -moz-animation: scaleGrow 0.4s linear;
  -o-animation: scaleGrow 0.4s linear;
  animation: scaleGrow 0.4s linear;
}
@keyframes scaleGrow {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-o-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}
@-webkit-keyframes scaleGrow{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.4); }
  100% { -webkit-transform: scale(1); }
}

.dashboard-page {
  width: 100%;
  margin: 0 auto;

  // @include media-breakpoint-only(md){
  //   width: 75%;
  // }
  // @include media-breakpoint-up(lg){
  //   padding: 0 0px;
  // }
  // @include media-breakpoint-up(xl){
  //   padding: 0 100px;
  // }
  .profile-review {
    position: fixed;
    top: 80px;
    right: 0px;

    @include media-breakpoint-up(lg){
      top: 110px;
      right: 20px;
    }

    @include media-breakpoint-up(xl){
      top: 100px;
      right: 150px;
    }

    .profile-photo-review {
      width: 50px;
      height: 50px;
    }
  }
}

.project-photo-review {
  width: 40px;
  height: 40px;
}

.project-tab {
  .nav-link {
    font-weight: 400;
    padding: 0.6rem;
    font-size: 11pt;
    border: none;
    border-radius: 0px;

    &.active {
      background: none !important;
      color: $netis-primary !important;
      font-weight: 600;
      border-bottom: 4px solid $netis-primary;

      &:focus {
        background: none !important;
        color: $netis-primary !important;
        font-weight: 600;
        // border-bottom: 5px solid $netis-primary;
      }
    }

    &:hover {
      background: none !important;
      color: $netis-primary !important;
      font-weight: 600;
      // border-bottom: 5px solid $netis-primary;
    }
  }

  .nav-tabs {
    border-bottom: none;
    box-shadow: none;
  }
}
.desc-card-project {
  margin-bottom: 15px;
  .description-title {
    font-size: 15px;
  }
  .description-project {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  // .description-project-more {
  //   color: rgb(43, 101, 207);
  // }
}
.carousel-post{
  @include media-breakpoint-down(sm){
    margin-bottom: 55px;
  }
  .carousel-inner{
    display: flex;
    align-items: center;
    background-color: #000;

    @include media-breakpoint-down(sm){
      width: 100vw;
      height: 100vw;
    }
    @include media-breakpoint-up(md){
      width: 100%;
      height: 59vw;
    }
    @include media-breakpoint-up(lg){
      width: 100%;
      height: 45vw;
    }
    .carousel-item {
      height: 100%;
    }
  }

  .carousel-inner:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }
}

ol.carousel-indicators {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  li{
    background-color: #a8a8a8;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }

  li.active {
    background-color: #0095f6;
  }
}

.profile-photo-project {
  width: 50px;
  height: 50px;
}

.button-card-project {
  position: relative;
  padding: 0 1.5rem;
  @include media-breakpoint-up(md){
    padding: 0 2rem
  }
  @include media-breakpoint-up(xl){
    padding: 0 2.5rem
  }
  i {
    cursor: pointer;
  }
}

.carousel-detail{
  .carousel-inner{
    height: 800px;
  }
}

.list-group.join-team {
  .list-group-item.active {
    background-color: rgba(43, 107, 248, 0.32);
    border-color: rgba(43, 107, 248, 0.32);
  }
}

.link-nounderline {
  a:hover {
    text-decoration: none;
  }
}

.absolute-right {
  position: absolute;
  top: 15px;
  right: 15px;
}

.box {
  padding-bottom: 100%;
  border-radius: 4px;
  position: relative;

  img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.profile-list {
  width: 50%;
  // @include media-breakpoint-up(md){
  //   width: 30%;
  // }
}

.sticky-header {
  position: sticky;
  top: 0px;
  padding: 15px;
  background-color: #F6F5F5;
  font-weight: bold;
  z-index: 10;
}

.round-button {
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
}

.table-sprint {
  background-color: #fff;
  border-radius: 20px;

  thead {
    background-color: #fff;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    border-bottom: 1px solid #A9A9A9;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  th {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  td {
    vertical-align: top;
  }
}

.img-profile-button {
  background-color: transparent;
  color: #dbe2f5;
  width: 100px;
  height: 100px;
  @include media-breakpoint-up(sm){
    width: 130px;
    height: 130px;
  }
  @include media-breakpoint-up(lg){
    width: 180px;
    height: 180px;
  }
}

.img-profile-button:hover {
  background-color: whitesmoke;
  opacity: 0.5;
}

.upload-file-button {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #dbe2f5;
  &.filled {
    color: transparent;
    background-color: transparent;
  }
  &:hover {
    color: #030303;
    background-color: whitesmoke;
    opacity: 0.5;
  }
}

.desc-img-profile {
  display: block;
  overflow: hidden;
  max-height:0;
  transition: max-height 0.3s ease-in;
}

.img-profile-button:hover .desc-img-profile {
  max-height: 50px;
}

.container {
  max-width: 90%;
  @include media-breakpoint-down(md){
    max-width: 100%;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.card-detail-project {

  .card-detail-title {
    font-size: 15px;
    font-weight: 600;
    height: 32px;
    line-height: 24px;
    min-height: 24px;
    background-color: rgba(9,30,66,0.04);
    color: rgb(0, 0, 0);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    padding: 0;
    text-decoration: none;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &.is-filled {
      background: transparent;
      &:hover {
        cursor: pointer;
        background-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(9, 30, 66, 0.11);
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      min-height: 108px;
    }
  }

  .card-detail-desc {
    background-color: rgba(9,30,66,0.04);
    color: rgb(0, 0, 0);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    // min-height: 40px;
    padding: 0;
    text-decoration: none;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &.is-filled {
      background: transparent;
      &:hover {
        cursor: pointer;
        background-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(9, 30, 66, 0.11);
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      min-height: 108px;
    }
  }
}

.design-sprint {
  width: 100%;
  border-radius: 20px;

  .design-sprint-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
  }

  .lead-photo {
    position: relative;
    // border: 3px solid #ccc;
    box-shadow: 0px 3px 12px #2b3c5e1a;
    background: #fff;
    margin: auto;
    padding: 5px 5px;
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  table {
    @include media-breakpoint-up(xl){
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .sprint-box {
    width: 250px;
    .sprint-content {
      .sprint-desc {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
  }

  .sprint-solving {
    font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

}

.card-member {
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.253);
  }
}

.card-team {
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  .card-team-action{
    display:none;
  }
  &:hover {
    .card-team-action{
      display:block;
      -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-in;
      -moz-transition: opacity 0.15s linear, bottom 0.15s ease-in;
      -o-transition: opacity 0.15s linear, bottom 0.15s ease-in;
      transition: opacity 0.15s linear, bottom 0.15s ease-in;
      animation-name: 'fadeIn';
      animation-duration: 0.7s
    }
  }
}

.card-team-review {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.089);
  background-color: transparent;
}

.lock-sprint{
  width: 100%;
  border-radius: 15px;
  position:absolute;
  height: calc(100% - 50px);
  top: 50px;
  padding-top: 20%;
  padding-left: 25%;
  padding-right: 25%;
  /* margin-right: auto; */
  /* height: 600px; */
  z-index: 99;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color:#335877;
  background-color: rgba(255,255,255, 0.7);

  .lock-icon{
    padding-top: 10px;
    font-size: 80px;
    background-color: #e0dede;
    color:#335877;
    -webkit-text-shadow: -1px 2px 13px rgba(0, 0, 0, 0.42);
    text-shadow: -1px 2px 13px rgba(0, 0, 0, 0.42);
    border: 25px solid #f0ecec;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 150px;
    height: 150px;
    text-align: center;
    /* cursor: pointer; */
  }
}

.card-template {
  width: 175px;
  height: 175px;
  cursor: pointer;
  border: 0px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.253);
  }

  &.card-template-active {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.363);
    border: 1px solid $netis-primary;
  }
}

.card-detail {
  .card-detail-title {
    border: 0;
    background: transparent;
    border-radius: 3px;
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    height: 32px;
    line-height: 24px;
    margin: -4px -8px;
    min-height: 24px;
    padding: 4px 8px;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }

  .card-detail-desc {
    background-color: rgba(9,30,66,0.04);
    color: rgb(0, 0, 0);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    // min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &.is-filled {
      background: transparent;
      &:hover {
        cursor: pointer;
        background-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(9, 30, 66, 0.11);
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      min-height: 108px;
    }
  }

  .card-detail-comment {
    background-color: rgba(9,30,66,0.04);
    color: rgb(0, 0, 0);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    // min-height: 150px;
    padding: 8px 12px;
    text-decoration: none;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &.is-filled {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      min-height: 150px;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(9, 30, 66, 0.11);
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      min-height: 150px;
    }
  }
}

.attach {
  .attach-image{
    width: 100px;
    height: 75px;
    border-radius: 5px;
  }

  .attach-image-fixed{
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    box-shadow: 0px 3px 12px #2b3c5e1a;
    background: #fff;
    margin: auto;
    padding: 5px 5px;

    &.small {
      // width: 35px;
      height: 35px;
      padding: 0;
      background: transparent !important;
      box-shadow: none !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img-attach-button {
      background-color: transparent;
      color: #00000057;
      width: 100%;
      height: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.651);
        .icon-upload {
          cursor: pointer;
          color:rgb(88, 127, 255);
        }
        .icon-show {
          cursor: pointer;
          color:rgb(88, 230, 255);
        }
        .icon-edit {
          cursor: pointer;
          color:rgb(255, 230, 88);
        }
        .icon-delete {
          cursor: pointer;
          color:rgb(228, 78, 78);
        }
      }
      .desc-img-attach {
        display: block;
        overflow: hidden;
        max-height:0;
        transition: max-height 0.3s ease-in;
      }
    }

  }

  .attach-link{
    border-radius: 3px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    line-height: 24px;

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }

  .attach-image-preview{
    background-color: rgba(255, 255, 255, 0.95);
    transition-duration: 300ms;
    z-index: 2147483647;
  }
}

.assignment-member.nav-link{
  border-radius: 12px;
  font-weight: 400;
  padding: 0.3rem 0.6rem;
  font-size: 11pt;
  text-decoration: none;
  border: none;
  margin-bottom: 5px;

  &.active {
    background: rgba(9, 30, 66, 0.04) !important;

    &:focus {
      background: rgba(9, 30, 66, 0.04) !important;
    }
  }

  &:hover {
    cursor: pointer;
    background: rgba(9, 30, 66, 0.04) !important;
  }
}

.due-date {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.53);
  top: 0; left: 0;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  &.off {
    display: flex;
    animation-name: 'fadeIn';
    animation-duration: 0.5s
  }

  &.on {
    display: none;
    animation-name: 'fadeIn';
    animation-duration: 0.5s
  }
}

.text-dark-secondary {
  color: #807F7F;
}

.vote-row {
  border-radius: 10px;
  // background-color: #FAFAFA;
  color: #807F7F;

  .vote-up {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    height: 35px;
    // border-right: none;
    cursor: pointer;
  }
  .vote-down {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    height: 35px;
    // border-left: none;
    cursor: pointer;
  }
}

// .border-dark-secondary {
//   border: 1px solid #807F7F;
// }

.project-card {
  @include media-breakpoint-down(sm){
    border: none;
  }
  @include media-breakpoint-up(md){
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
}

.solving-card-team {
  @include media-breakpoint-up(md){
    width: 100vh;
    min-height: 60vh;
  }
}

.solving-mobile-container {
  @include media-breakpoint-down(sm){
    margin-top: 1rem;
    .card {
      border: none;
      border-radius: 10px;
    }
    .card-button {
      border-top: 3px solid #fafafa;
    }
    .card-button:hover {
      cursor: pointer;
      background-color: #f5f5f5;
    }
  }
}

.card-finish {
  position: relative;
  @include media-breakpoint-down(sm){
    border: none;
  }
  .card-body {
    @include media-breakpoint-down(sm){
      margin-top: 15vh;
    }
    width: 100%;
    @include media-breakpoint-up(md){
      width: 100vh;
      height: 50vh;
    }
  }
  .span-finish {
    width: 90%;
    @include media-breakpoint-up(md){
      width: 55%;
    }
  }
}

.active-profile-list {
  font-weight: 700;
  color: $netis-primary;
}
.reject-link:hover {
  text-decoration: none;
}
.big-font-initial {
  font-size: 85px;
  @include media-breakpoint-down(md){
    font-size: 50px;
  }
}

.card-project-small {
  .carousel {
    @include media-breakpoint-down(sm){
      margin-top: 55px;
    }
  }
}