@font-face{
    font-family:Feather;
    font-style:normal;
    font-weight:400;
    src:url("~react-web-vector-icons/fonts/Feather.ttf") format('truetype')}
// If you want to override variables do it here
@import "variables";
@import "symbol";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";
@import "components/notifications";

// ie fixes
@import "ie-fix";

// react-big-calendar
@import "~react-big-calendar/lib/css/react-big-calendar.css";

// react-datepicker
@import "~react-datepicker/dist/react-datepicker.css";

// rc-datepicker
@import "~rc-datepicker/lib/style.css";

// toastify
@import "toast";
@import "~react-toastify/dist/ReactToastify.css";

// Appolo
@import "pp";
@import "modal-custom";
@import "../views/Menu/Project/project";

@import "../views/LandingPage/landingPage.scss"

// landing page
